// src/styles/views/_box.scss
@use "box/header";
@use "box/controls";
@use "box/filters";
@use "box/grid";

@use "@/styles/core/tools" as *;

.box-view {
  padding: 0 0 250px 0;
  background: transparent;
  min-height: 0;
  display: flex;
  flex-direction: column;
  gap: var(--ui-v-gap);
  @include gpu-layer;
  pointer-events: auto !important;
  z-index: var(--z-base);
}
