// src/styles/components/_map-card-weather.scss
@use '../core/tools' as *;
@use "weather/rain";
@use "weather/snow";
@use "weather/sand";
@use "weather/sun";

.weather-overlay {
  position: absolute;
  inset: 0;
  z-index: calc(var(--z-map-weather) * 1) !important;
  pointer-events: none;
}

// Halo Cian para Spawns Atmosféricos
// PARIDAD TOTAL con Aura Roja (mismo tamaño, misma fuerza, pulso invertido)
.atmospheric-spawn {
  position: relative;
}



