@mixin move-detail-item {
  display: flex;
  flex-direction: column;
  gap: 2px;

  @media (width <= 560px) {
    flex-direction: row;
    align-items: flex-start;
    gap: 4px;
    padding: 0;
    border: none;
  }

  .d-label { 
    color: #fff; 
    font-size: 6px; 
    opacity: 0.4; 

    @media (width <= 560px) { min-width: 25px; font-size: 5px; opacity: 0.6; }
  }
  .d-val { 
    display: flex;
    align-items: center;
    gap: 2px; 
    color: #fff; 
    font-size: 7px; 
    font-weight: 900;

    @media (width <= 560px) { font-size: 6px; }

    .infinity-emoji {
      font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif !important;
      font-size: 13px !important;
      font-weight: 900 !important;
      line-height: 1 !important;
      vertical-align: middle;
      -webkit-font-smoothing: antialiased !important;
    }
  }
}
