/* GLOBAL RETRO-MODERN SCROLLBARS */
:root {
  scrollbar-width: thin;
  scrollbar-color: rgb(255 255 255 / 10%) transparent;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  border: 1px solid transparent;
  border-radius: 10px;
  background: rgb(255 255 255 / 10%);
  background-clip: padding-box;

  &:hover {
    background: rgb(255 255 255 / 20%);
    background-clip: padding-box;
  }
}
